<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop</title>
</head>
<body>
    {% for product in products %}
    <div>
        <img src="{{ product.image }}">


<!--            {{ prod.image.url }}-->
<!--            {% for image in prod.images.all %}-->
<!--            {{ image.image.url }}-->

    <h3>{{ product.image }}</h3>
    <p>{{ product }}</p>
    <p>{{ product.price }}</p>
    <p>{{ product.description }}</p>
    {% endfor %}
        </div>
</body>
</html>