{% extends 'base.html' %}

{% block body %}
    <h1>Список продуктов</h1>
    {% for prod in products %}
    <p>
        <a href="{% url 'product-details' prod.id %}">{{prod.name}}</a><br>
        {{ prod.price }}
    </p>
    {% endfor %}

    <p>
        {% if page_obj.has_previous %}
         <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        {{ page_obj.number }}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </p>
{% endblock body %}